---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import themenuhero from "../assets/images/themenuhero.webp";
import betteringredients from "../assets/images/betteringredients.webp";
import Ourproducts from "../components/Ourproducts.astro";
import Quote from "../components/Quote.astro";
import Addons from "../components/Addons.astro";
import Ourteam from "../components/Ourteam.astro";
import Subscription from "../components/Subscription.astro";
---

<MainLayout title="Tails.com">
  <section class="bg-SalmonTreat-200 md:pl-custom104 mb-16 md:mb-20" id="themenuhero">
    <div class="lg:grid grid-cols-2">
      <div class="py-10 md:py-32 mx-5">
        <h2 class="text-5xl md:text-custom54 pb-8 md:pb-16 font-paytone uppercase animationinviewfade">FIND YOUR PUP'S NEW FAVOURITE MEAL</h2>
        <p class="text-sm md:text-xl pb-8 md:pb-16 animationinviewfade">Prioritize your dog's health with nutrition designed for their specific needs.</p>
        <a href="/form" class="animationinviewfade">
          <Button variant="subprimary" size="large">Start Trial</Button>
        </a>
      </div>
      <div>
        <Image class="hidden lg:block md:w-[500px]" src={themenuhero} alt="Dalmatian dog" />
      </div>
    </div>
  </section>

  <section class="mx-5 md:mx-custom104 mb-16 md:mb-44 md:grid grid-cols-2 gap-custom90" id="betteringredients">
    <div>
      <h2 class="text-2xl md:text-custom54 font-paytone md:max-w-3xl pb-4 md:pb-8 uppercase animationinviewfade">Better ingredients mean tastier food</h2>
      <div class="w-[350px] lg:w-[500px] h-auto block md:hidden pb-6 m-auto">
        <Image src={betteringredients} alt="tails" />
      </div>
      <p class="pb-4 text-xs md:text-base animationinviewfade sm:max-w-xl">At tails.com, we carefully craft every recipe with ingredients that matter. From premium meats and fish packed with <strong>protein</strong> and essential fatty acids to <strong>wholesome vegetables</strong> and grains that provide energy and fiber, every element supports your dog’s health and well-being.</p>
      <p class="pb-4 text-xs md:text-base animationinviewfade sm:max-w-xl">We also include vitamins, minerals, and prebiotics to <strong>boost immunity</strong>, aid digestion, and support healthy joints. The result is a balanced, delicious meal tailored to your dog’s <strong>specific needs</strong>, ensuring they stay happy, healthy, and full of energy every day.</p>
      <p class="pb-4 text-xs md:text-base animationinviewfade sm:max-w-xl">All our ingredients are sourced in the UK and the EU.</p>
    </div>
    <div class="w-[350px] lg:w-[500px] h-auto hidden md:block">
      <Image src={betteringredients} alt="tails" />
    </div>
  </section>

  <Ourproducts />

  <Quote>Every dog deserves the best — happy meals, happy tails!</Quote>

  <Addons />

  <Ourteam />

  <Subscription />
</MainLayout>

<script>
  import { animate, stagger, inView, scroll } from "motion";

  animate("body", { opacity: [0, 1] }, { duration: 1.5 });

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
