---

---

<section class="bg-BarkingAtTheMoon-500 py-8 px-5 md:p-custom104 mb-16 md:mb-44">
  <h2 class="text-GoldenRetriever-100 text-2xl text-center md:text-custom54 md:text-left font-paytone uppercase relative animationinviewfade">YOUR BEST FRIEND DESERVES <span id="dynamic-text" class="text-SalmonTreat-500 text-2xl text-center md:text-custom54 md:text-left font-paytone uppercase">A Shiny Coat</span></h2>
</section>

<script>
  const texts = ["A Shiny Coat", "Cleaner Teeth", "A Happy Tummy", "Joint Support", "The Perfect Fit"];
  const dynamicText = document.getElementById("dynamic-text");
  let currentIndex = 0;

  function switchText() {
    dynamicText.classList.remove("opacity-100");
    dynamicText.classList.add("opacity-0");

    setTimeout(() => {
      currentIndex = (currentIndex + 1) % texts.length;
      dynamicText.textContent = texts[currentIndex];
      dynamicText.classList.remove("opacity-0");
      dynamicText.classList.add("opacity-100");
    }, 500);
  }

  setInterval(switchText, 3000);

  import { animate, inView } from "motion";

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
