---
import Button from "../components/Button.astro";
import Productcard from "../components/Productcard.astro";
---

<section class="mx-5 md:mx-custom104 mb-16 md:mb-44">
  <h2 class="text-2xl md:text-custom54 font-paytone md:max-w-3xl pb-6 md:pb-8 uppercase animationinviewfade">EXPLORE OUR PRODUCTS</h2>
  <p class="text-sm md:text-xl pb-8 md:pb-16 max-w-xl md:max-w-2xl animationinviewfade">Explore our curated selection of high-quality, tailored dog food to find the perfect match for your dog's unique needs.</p>

  <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 justify-items-center">
    <Productcard cardimage="/drykibble.webp" productname="TAILOR-MADE DRY FOOD" />
    <Productcard cardimage="/wetfood.webp" productname="Wet food" />
    <Productcard cardimage="/seniorfood.webp" productname="Senior dog food" />
    <Productcard cardimage="/puppyfood.webp" productname="Puppy food" />
    <Productcard cardimage="/hypoallergenic.webp" productname="Hypoallergenic" />
    <Productcard cardimage="/sensitive.webp" productname="Sensitive stomachs" />
  </article>
</section>

<script>
  import { animate, inView } from "motion";

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
