---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import sean1 from "../assets/images/sean1.webp";
import amy1 from "../assets/images/amy1.webp";
import samantha1 from "../assets/images/samantha1.webp";
import helpdog from "../assets/images/helpdog.webp";
---

<section class="mx-5 md:px-custom104">
  <h2 class="text-2xl font-paytone uppercase md:text-custom54 sm:max-w-lg lg:max-w-3xl pb-4 md:pb-8 animationinviewfade">WE KNOW WHAT WE'RE DOING AND WE'RE PASSIONATE ABOUT IT</h2>
  <p class="text-sm md:text-xl max-w-xl lg:max-w-3xl pb-8 md:pb-16 animationinviewfade">Behind every tailored meal is a passionate team of experts dedicated to improving dogs’ lives. From nutritionists to developers, meet the people who make tails.com’s personalized approach possible.</p>

  <div class="pb-6 md:pb-12 md:grid grid-cols-2 lg:grid-cols-3 gap-custom90 animationinviewfade">
    <div>
      <Image class="pb-4 md:pb-10 w-[350px]" src={sean1} alt="Sean McCormack, Head Vet" />
      <h3 class="pb-3 text-base md:text-2xl font-bold">Sean McCormack</h3>
      <p class="text-sm md:text-xl pb-6">BSc (Hons), MVB, MRCVS (Head vet)</p>
      <p class="text-xs md:text-base pb-4 md:pb-6 max-w-md">Sean studied Animal Science as an undergraduate learning about anatomy, physiology, husbandry and nutritional management of a range of domestic animals, followed by his Veterinary Medicine degree (MVB) at University College Dublin.</p>
      <p class="text-xs md:text-base pb-12 md:pb-0 max-w-md">Having spent six years in private practice at various first opinion and referral small animal clinics, he has a great understanding of dog owners and the concerns they face when trying to choose the best diet for their pets.</p>
    </div>

    <div>
      <Image class="pb-4 md:pb-10 w-[350px]" src={amy1} alt="Amy Henson, Veterinary nurse" />
      <h3 class="pb-4 text-base md:text-2xl font-bold">Amy Henson</h3>
      <p class="text-sm md:text-xl pb-6 max-w-md">BSc (Hons) RVN, N.Cert (SAN) (Veterinary nurse & customer experience team leader)</p>
      <p class="text-xs md:text-base pb-4 md:pb-6 max-w-md">Amy has been a qualified veterinary nurse for over ten years, spending most of this time in various roles within the charity sector and in specialist veterinary centres. She has industry-leading expertise in animal nutrition and dog owner education.</p>
      <p class="text-xs md:text-base pb-12 md:pb-0 max-w-md">Amy is our customer experience nutritional team leader, and is a vital source of knowledge and training for the whole team.</p>
    </div>

    <div>
      <Image class="pb-6 md:pb-10 w-[350px]" src={samantha1} alt="Dr Samantha Ware, Lead nutritionist" />
      <h3 class="pb-4 text-base md:text-2xl font-bold">Dr Samantha Ware</h3>
      <p class="text-sm md:text-xl pb-6">MSc, PhD (Lead nutritionist)</p>
      <p class="text-xs md:text-base pb-4 md:pb-6 max-w-md">Samantha has over sixteen years experience in animal nutrition. From a Master's degree in animal nutrition, a PhD in nutritional sciences and an extensive professional career formulating and developing diets within the pet food industry, Samantha is extremely knowledgeable on the dietary needs of individual dogs.</p>
      <p class="text-xs md:text-base max-w-md">Having previously formulated food for the royal dogs, Samantha now spends her time developing tails.com nutritional blends.</p>
    </div>
  </div>

  <div class="text-center pb-16 md:pb-custom90 animationinviewfade">
    <a href="#" onclick="event.preventDefault();">
      <Button variant="primary" size="small">More About Us</Button>
    </a>
  </div>

  <article class="md:grid grid-cols-2">
    <div class="pb-12 md:pb-custom20 animationinviewfade">
      <h3 class="text-base md:text-2xl font-bold pb-6 md:pb-8">We are here for you</h3>
      <p class="text-xs md:text-base pb-4 md:pb-4 max-w-xl">
        Got questions? We get it – as fellow dog owners, we’ve been there too. That’s why we’ve gathered all the tips and tricks we’ve learned along the way in the
        <Link href="#">Tails.com blog</Link>. From expert advice on puppy health and training by our head vet Sean to handy tips for making life with your furry friend even better – it’s all there.
      </p>
      <p class="text-xs md:text-base max-w-xl">
        Our friendly customer service team is also always ready to help in <Link href="#">our chat</Link>, with support from our veterinary and nutrition experts whenever you need it.
      </p>
    </div>
    <div class="flex items-end justify-center">
      <Image class="md:-mt-20" src={helpdog} alt="picture of dog holding an empty bowl" class="w-[300px] md:w-[400px]" />
    </div>
  </article>
</section>

<script>
  import { animate, inView } from "motion";

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
