---
const { productname = "", cardimage = "" } = Astro.props;
import Button from "./Button.astro";
---

<article id="productcard" class="rounded-custom50px bg-cover bg-center bg-no-repeat p-6 flex flex-col justify-between text-center w-[300px] h-[410px] mb-5 md:mb-0 shadow-dropshadow animationinviewfade" style={{ backgroundImage: `url(${cardimage})` }}>
  <p class="text-base md:text-2xl font-bold uppercase pb-44">{productname}</p>
  <div class="flex-grow"></div>
  <a href="/singleview"><Button variant="subprimary" size="small">Read More</Button></a>
</article>

<script>
  import { animate, inView } from "motion";

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
